table {
	border-spacing: 0px;
	border-collapse: separate;
	width: 100%;
}

td {
	background-color: #E0C596;
	border-right: 2px #6A4330 solid;
	border-bottom: 3px #949494 solid;
	margin: 0px;
	padding: 0px;
}
