<div>
	<table id="board">
		<thead>
			<tr>
				<th>String</th>
				<th data-ng-repeat="fret in practiceController.chordsTuning[0].chords track by $index">
					<span data-ng-if="$index == 0">Open</span>
					<span data-ng-if="$index > 0">fret {{$index}}</span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="strings in practiceController.chordsTuning">
				<th>{{strings.tuning}}</th>
				<td data-ng-repeat="chord in strings.chords track by $index"><span data-ng-if="$index == 0">{{fret}}</span></td>
			</tr>
		</tbody>
	</table>
</div>
